{{ "<script type=\"text/template\" id=\"partial-header\">" }}
	
	<div class="wrapper">

		<aside class="ui-sidebar">
			<div class="ui-logo">
				<img class="img-responsive" src="" alt="">
			</div>

			<a href="#" class="button-hamburger show-mobile-inline"><i class="fa fa-bars"></i></a>
			<div class="sidebar-background"></div>

			<nav class="ui-menu sidebar-menu">
				<ul class="menu">
					
					<li class="menu-item">
						<a href="/admin/"><i class="fa fa-fw fa-home"></i> Inicio</a>
					</li>
					
					<li class="menu-item">
						<a href="/admin/clients"><i class="fa fa-fw fa-user-md"></i> Medicos</a>
					</li>

					<li class="menu-item ">
						<a href="/admin/"><i class="fa fa-fw fa-id-card"></i> Técnicos</a>
					</li>
					
					<li class="menu-item">
						<a href="/admin/trainers"><i class="fa fa-fw fa-users"></i> Pacientes</a>
						<!--<ul class="submenu">
							<li class="menu-item"><a href="/admin/trainers/new">
								<i class="fa fa-fw fa-plus"></i> Nuevo entrenador</a>
							</li>
						</ul>-->
					</li>

					<li class="menu-item">
						<a href="/admin/users"><i class="fa fa-fw fas fa-id-card-alt"></i> Chequeos</a>
							<!--<ul class="submenu">
								<li class="menu-item"><a href="/admin/nutritionists/new">
									<i class="fa fa-fw fa-plus"></i> Nuevo nutriologo</a>
								</li>
							</ul>-->
					</li>
					
					<li class="menu-item ">
						<a href="/admin/activities"><i class="fa fa-fw fas fa-money-check-alt"></i> Pagos</a>
						<!--<ul class="submenu">
							<li class="menu-item"><a href="/admin/activities/new">
								<i class="fa fa-fw fa-plus"></i> Nueva actividad</a>
							</li>
						</ul>-->
					</li>

					<li class="menu-item">
						<a href="" class="btn-close-session"><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a>
					</li>
				</ul>
			</nav>
		</aside>

		<nav class="ui-helpbar">

			<div class="app-logo hide-mobile">
				<img class="img.img-responsive" src="{{ app.img('logo_horizontal.png') }}" alt="" />
			</div>

			<div class="current-user">
				<nav class="ui-menu current-user-menu">
					<ul class="menu">
						<li class="menu-item">

							<img src="" alt="" class="current-user-avatar">
							<h2 class="current-user-nicename"><span class="nicename-label hide-mobile-inline">Erick Sanchez</span> <i class="fa fa-fw fa-angle-down"></i></h2>

							<ul class="submenu">
								<li class="menu-item"><a href="/admin/logout"><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</nav>

	</div>

{{ "</script>" }}