<script type="text/template" id="recover">
	
	<div class="ui-login js-section-current">
		<div class="ui-metabox metabox-rounded login-box">
			<section class="metabox-content">

				<!-- <?php // $site->messages->show(); ?> -->

				<div class="login-logo">
					<img class="img-responsive" src="{{ app.img('logo_ohpthosmart.png') }}" alt="">
				</div>

				<h3 class="title-label text-center">Recuperación de contraseña</h3>

				<form method="post" action="">
					<div class="form-fields">
						<div class="form-group">

							<label for="user" class="control-label">Correo electrónico</label>
							<input type="text" name="user" id="user" class="input-block form-control" data-validate="required">

							<label class="control-label text-center">Enviaremos a tu correo electrónico un link para recuperar tu contraseña.</label>

						</div>

					</div>
					<div class="form-actions">

						<div class="row row-md row-sm text-center">
							<div class="col col-md col-sm col-md-12 col-sm-12 col-12 forgot-password">
								<p><a href="{{ app.urlTo('/#!/app/') }}">Volver al Inicio de sesión</a></p>
							</div>
						</div>

						<div class="form-controls text-center">
							<a href="{{ app.urlTo('/#!/app/') }}" class="button button-primary">Enviar correo</a>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>

</script>

