<!DOCTYPE html>
<html lang="en">
<head>
	<title> {{ app.getPageTitle() }} </title>

	{{ app.metaTags() }}

	<link rel="shortcut icon" href="{{ app.img('favicon.png') }}">
	<link rel="icon" href="{{ app.img('favicon.png') }}" type="image/png">
	<script type="text/javascript">
		var constants = {
			siteUrl: '<?php $site->urlTo("", true); ?>',
			ajaxUrl: '<?php $site->urlTo("/ajax", true); ?>',
			slug: <?php echo json_encode( $site->getSlugs() ); ?>,
			page: '<?php echo $site->getCurPage(); ?>',
			fbAppId: '149978198930302'
		};
	</script>
	<?php $site->includeStyles(); ?>
	<?php $site->includeScript('modernizr'); ?>
	<?php $site->includeScript('respond'); ?>
	<?php $site->includeScriptVars(); ?>
</head>
<body class="<?php $site->bodyClass() ?>">

	{% block body %}
    {% endblock %}