{% include "partials/header.html" %}

	<div class="app">
        <header class="app-header"></header>
        <section class="app-content"></section>
        <!-- <nav class="app-nav-menu"></nav> -->
        <footer class="app-footer"></footer>
    </div>

	{% include "templates/footer.html" %}
	{% include "templates/header.html" %}
	
  	{% include "templates/login.template.html" %}
    {% include "templates/recover.template.html" %}

	{% include "templates/home.template.html" %}

{% include "partials/footer.html" %}