<script type="text/template" id="partial-footer">
    <nav class="app-menu">
        
        <a class="menu-item" href="#!/">
			<span>Categories</span>
		</a>
        
        <a class="menu-item" href="#!/">
			<span>Search</span>
		</a>
        
        <a class="menu-item" href="#!/">
			<span>Favorites</span>
		</a>
        
        <a class="menu-item" href="#!/">
			<span>Zone</span>
		</a>
        
        <a class="menu-item js-open-app-nav-menu" href="#">
			<span>More</span>
		</a>
    </nav>
</script>